<p id="notice"><%= notice %></p>

<h1>Friends</h1>

<h2>Your Friends</h2>
<% if current_user %>
  <ul>
    <% for user in @user.friends %>
    <li><%= h user.username %></li>
    <% end %>  
  </ul>
    <% else %>
        <%= link_to "Sign Up", signup_path %>
        <%= link_to "Log In", login_path %>
    <% end %>




